@import '../.././styles/theme.scss';

.flex_box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $background-color;
    .search_box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: auto;
        margin-top: 40vh;
        .search_button{
            height: 100%;
            width: 10%;
            border-radius: 1rem;
            border: none;
            color: black;
            font-size: 1.5rem;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover{
                color: $primary-color;
            }
        }
    }
}