// Import any missing dependencies here

// Define your color palette
// $primary-color: #94e0f4;
// $secondary-color: #F6ECDB;
// $background-color: #818FB4;
// $text-color: rgb(30, 27, 27);
// $light: #FEFDCA;
// $dark: #424874;
// $darker: #2D3250;
// $dark-1:#818FB4;
// $dark-2:#363062;
// $yellow: #FCE38A;
// $green: #D5F0C1;
// $light-green: #E0F9B5;
// $red: #F38181;
// $grey: #D3D3D3;

$primary-color: #94e0f4;
$secondary-color: #F6ECDB;
$background-color: #FFFBEF;
$text-color: rgb(30, 27, 27);
$light: #FEFDCA;
$dark: #424874;
$yellow: #FCE38A;
$green: #D5F0C1;
$light-green: #E0F9B5;
$red: #F38181;
$grey: #D3D3D3;


$nav-menu-width:200px;
$nav-bar-height:10vh;

@mixin theme {
$background-color: #F5EEE6;
  color: $text-color;
}
  
.button{
  background-color: $light;
  color: $text-color;
  padding: 0.5rem 1rem;
  min-width: 50px;
  margin: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color: $yellow;
    font-weight: bold;
  }
}