@import '../../styles/theme.scss';

.HomePage{
    position: relative;
    overflow-y: hidden;
}
.Outlet{
    position: fixed;
    left:70px;
    top: 0vh;
    width: calc(100% - 70px);
    height: 100vh;
    overflow-y: auto;
}